#work-history {
color: red;
background-color: grey;
border: 2px black solid;
margin: 10px;
}

#education {
  color: white;
background-color: grey;
border: 2px black solid;
margin: 10px;
}

#social {
  color: blue;
background-color: grey;
border: 2px black solid;
margin: 10px;
}

#contact {
  float: left;
}

#special{
  color: black;
  background-color: grey;
  border: 2px black solid;
  margin: 10px;
  text-align: center;
}


.h1 {
  color: white;
}
